.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.linkInfo{
  display: block;
  position: relative;
  word-wrap: break-all;
  overflow-wrap: break-word;
  color: #3dd5f3;
}

#pText{
  color: white;
  padding: 10px;
  background-color: #282c34;
  border-radius: 10px;
  display: block;
  font-size: 110%;
}

.Projects {
  color: rgb(0, 255, 234);
  /*rgb(82, 201, 46)*/
  text-align: left;
  height: 100%;
  overflow: auto;
}

.Projects h1{
  font-size: 100%;
}

#desc1 {
  margin-top: 25px;
  margin-left: 2%;
  font-size: 300%;
  padding-bottom: 20px;
}

#keyword{
  background-color: #282c34;
  padding: 10px;
  margin-top: 1%;
  font-size: 100%;
  overflow-wrap: break-word;
}

.imgDiv{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-self: center;

}

.imgSliderImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 0.3s ease-in-out;
}

.imgList{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgBtn{
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  width: 2rem;
  height: 100%;
  transition: background-color 0.3s;
}

.imgBtn:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.imgBtn > * {
  fill: rgb(0, 0, 0);
  width: 1.5rem;
  height: 2rem;
}

#p3, #p5{
  width: 30%;
  height: auto;
  padding: 2px;
}

#p6, #p2, #p4, #p1{
  width: 100%;
  height: auto;
}

#p7{
  margin-bottom: 2px;
  width: 100%;
  height: auto;
}