.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.linkInfo{
  word-wrap: break-all;
  overflow-wrap: break-word;
  color: #3dd5f3;
}

#pText{
  color: white;
  padding: 10px;
  background-color: #282c34;
  border-radius: 10px;
  display: block;
  font-size: 110%;
}

.Projects {
  color: rgb(0, 255, 234);
  /*rgb(82, 201, 46)*/
  text-align: left;
  height: 100%;
  overflow: auto;
}

.Projects h1{
  font-size: 100%;
}

#desc1 {
  margin-top: 25px;
  margin-left: 2%;
  font-size: 300%;
  padding-bottom: 20px;
}

#keyword{
  background-color: #282c34;
  padding: 10px;
  margin-top: 1%;
  font-size: 100%;
  overflow-wrap: break-word;
}

#p3, #p5{
  width: 45%;
  height: auto;
  padding: 2px;
}

#p6, #p2, #p4, #p1{
  width: 100%;
  height: auto;
}

#p7{
  margin-bottom: 2px;
  width: 100%;
  height: auto;
}